*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #b0e0e6;
}
h1 {
    color: #00f;
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
}
p {
    color: #f00;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 25px;
}